.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.formContainer div {
  padding: 10px;
}
.formContainer div input {
  padding: 10px;
  border : 1px solid #000;
  border-radius: 5px;
}
.formContainer button {
  padding: 10px 20px;
  border-radius: 5px;
  border : 1px solid gray;
}